html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 serif;
  font-family: serif;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  border: #a9976c	solid;
  border-radius: 1px;
  max-width: 42em;
  margin: 0 auto;
}

nav {
  background-color: #a9976c;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #fff;
}

.gallery {
  display: flex;
  flex-direction: column;
}

/* come back to this&review */

main {
  max-width: 42em;
  margin: 0 auto;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer {
  max-width: 42em;
  margin: 0 auto;
  display: flex;
}

footer div {
  margin: 0 0.5em;
  flex: 1;
}

.new {
  color: red;
}
